html {
	background: #dddddd;
}
body {
	margin: 0;
}

p {
	color:#777777;
	background: #ffffff;
}
h1 {
	color: #4aaaa5;
	padding: 1em;
}

.hilinks:hover {
	background-color: darkgray;

}

.hilink {
	background-color: lightgray;
	opacity: 60;
	position: relative;
	left: 70%;
	float: left;
	top: 20px;
}



#headbar {
	height: 100px;
	background: #ffffff;
	width: 100%;
	border: 2px gray;
	position: relative;
}

#name{ 
	color:#ffffff;
	background: #4aaaa5;
	padding: 10px;
	width: 20%;
	height: 60%;
	position: absolute;
	left: 15%;
	text-align: center;
	line-height: 50px;
	bottom: 0;
	/*border:2px solid pink;*/
	font-size: 24px;
	font-weight: 400;
	z-index: 2;

}
div.wrapper{
	width: 80%;
	margin-left: 15%;
	margin-top: 3em;
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;

}

.lcontent {
	float: left;
	width: 65%;
	background: #ffffff;
	margin: 0 3em 3em 0;
}



.me {
	margin: 2em;
	height: 40%;
	width: 40%;
}

.rcontent {
	float: left;
	background: #ffffff;
	text-align: center;
	width: 240px;
	height: 180px;
}

.imglogo {
	height: 25%;
	width: 25%;
	margin: 1em 0 1em 1em;
	float: left;

}

#bio{
	padding: 1em;
	float: right;

}

.foot{
	color: #dddddd;
	background-color: #666666;
	text-align: center;
	position: fixed;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 2rem;
}

#teal{
	background-color: #4aaaa5;
	position: absolute;
	top: -5px;
	right: 0;
	left: 0;
  	padding: 5px;
  	z-index: 2;

}


/* Clears the float*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



/*


Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
Fonts:
For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.



*/